<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppInscricao</display-name>
  <welcome-file-list>
    <welcome-file>CandidatoController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidatoController</display-name>
    <servlet-name>CandidatoController</servlet-name>
    <servlet-class>controle.CandidatoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoController</servlet-name>
    <url-pattern>/CandidatoController</url-pattern>
  </servlet-mapping>
</web-app>